.css-preview-wrapper {
  padding: 20px;
  border: solid;
  
}

p { 
  color: #000000; 
   font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 17px;
  font-weight: bold; 
  text-align: justify;
  
   padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  
}

ol li { color: red; }
footer p { color: green; }
